.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 424px; */
    /* outline: 4mm ridge var(--darkOrange-color); */
    /* background-color: var(--bgColor); */
    /* z-index: 1; */
    margin-bottom: 4rem;
    /* border-radius: 32px; */
    width: 100%;
}

.content-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 424px; */
    width: 100%;
}

.searchTrans-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    /* height: 110vh; */
    z-index: 1;
    /* max-width: 400px; */
    /* position: absolute; */
    /* background-color: var(--themeOrange-color); */
    padding: 28px 40px;
}

.navbar-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.img-section {
    display: flex;
    width: 100%;
}

.img-section img {
    width: 40px;
}

.navbar-opt-section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
}

.opt-box {
    display: flex;
    align-items: center;
    border: solid 1px var(--gray-color2);
    padding: 6px;
    border-radius: 50px;
    background-color: var(--secondary-white-color);
    cursor: pointer;
}

.opt-box i {
    font-size: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    z-index: -2;
}

.searchTrans-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchTrans-title h4 {
    text-align: center;
    font-size: 24px;
    color: var(--themeOrange-color);
}

.searchCustomers-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.searchCustomers-container .title-section h4 {
    font-size: 14px;
    font-weight: var(--bold-6);
    color: var(--gray-color1);
}

.searchCustomers-container .title-section a {
    font-size: 10px;
    font-weight: var(--bold-5);
    color: var(--gray-color1);
    cursor: pointer;
}

.searchCustomers-container .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchTrans-subtitle {
    display: flex;
}

.searchTrans-subtitle h4 {
    font-size: 10px;
    font-weight: var(--bold-4);
    color: var(--gray-color3);
}

.inputSearch-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.inputSearch-section .search-box {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-white-color);
    border: solid 0.2px var(--gray-color2);
    box-shadow: var(--box-shadow);
    padding: 2px 16px;
    border-radius: 10px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--gray-color1);
    font-size: 12px;
}

.search-box input::placeholder {
    color: var(--gray-color3);
}

::-webkit-search-cancel-button {
    -webkit-appearance: none;
    /* Menghilangkan gaya bawaan browser */
    display: none;
    /* Menyembunyikan tombol */
}

.sort-box {
    display: flex;
    align-items: center;
    background-color: var(--secondary-white-color);
    border: solid 0.2px var(--gray-color2);
    box-shadow: var(--box-shadow);
    padding: 12px;
    border-radius: 10px;
}

.sort-box i {
    font-size: 20px;
}

.customers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customer-section {
    display: flex;
    align-items: center;
    background-color: var(--secondary-white-color);
    border: solid 0.2px var(--gray-color2);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 5px;
}

.profile-customer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.photo-section {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: var(--themeOrange-color);
    border-radius: 10px;
}

.customer-section .photo-section i {
    font-size: 36px;
    color: var(--white-color);
}

.name-section {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.name-section h4 {
    font-size: 12px;
    font-weight: var(--bold-5);
}

.name-section .noted-section {
    display: flex;
    width: 100%;
}

.noted-section .date-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.noted-section .sum-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-right: 12px;
}

.noted-section .date-section h4 {
    font-size: 10px;
    color: var(--gray-color3);
}

.noted-section .sum-section .status {
    font-size: 10px;
    color: var(--gray-color1);
    font-weight: var(--bold-4);
}

.noted-section .sum-section .price {
    font-size: 10px;
    color: var(--green-color1);
    font-weight: var(--bold-6);
}

.noted-section .sum-section .priceCanceled {
    font-size: 10px;
    color: var(--red-color1);
    font-weight: var(--bold-6);
}

.navBottom-container {
    /* position: absolute; */
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navBottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.nav-opt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 100%;
    cursor: pointer;
}

/* .nav-opt .home{
    color: var(--themeOrange-color);
} */
.nav-opt i {
    font-size: 24px;
    color: var(--gray-color3);
}

.nav-opt h4 {
    font-size: 10px;
    color: var(--gray-color3);
    font-weight: var(--bold-5);
}

@media screen and (max-width: 380px) {
    .searchTrans-content {
        padding: 20px;
    }
}
@media screen and (max-width: 360px) {
    .noted-section .sum-section {
        width: 40%;
    }
}